{% extends "blog/base.html" %***REMOVED***
{% block title %***REMOVED***Add a comment{% endblock %***REMOVED***

{% block content %***REMOVED***
***REMOVED***% if comment %***REMOVED***
        <h2>Your comment has been added.</h2>
        <p><a href="{{ post.get_absolute_url ***REMOVED******REMOVED***">Back to the post</a></p>
***REMOVED***% else %***REMOVED***
    ***REMOVED***% include "blog/post/includes/comment_form.html" %***REMOVED***
***REMOVED***% endif %***REMOVED***

{% endblock %***REMOVED***