{% extends "blog/base.html" %***REMOVED***

{% block title %***REMOVED***{{ post.title ***REMOVED******REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***

    <h1>{{ post.title ***REMOVED******REMOVED***</h1>
    <p class="date">
        Published {{ post.publish ***REMOVED******REMOVED*** by {{ post.author ***REMOVED******REMOVED***
    </p>
***REMOVED***{ post.body|linebreaks ***REMOVED******REMOVED***

    <p>
        <a href='{% url "blog:post_share" post.id %***REMOVED***'>
            Share this post
        </a>
    </p>

    <h2>Similar posts</h2>
***REMOVED***% for post in similar_posts %***REMOVED***
        <p>
            <a href="{{ post.get_absolute_url ***REMOVED******REMOVED***">{{ post.title ***REMOVED******REMOVED***</a>
        </p>
***REMOVED***% empty %***REMOVED***
        There are no similar posts yet.
***REMOVED***% endfor %***REMOVED***

***REMOVED***% with comments.count as total_comments %***REMOVED***
        <h2>
        ***REMOVED***{ total_comments ***REMOVED******REMOVED*** comment{{ total_comments|pluralize ***REMOVED******REMOVED***
        </h2>
***REMOVED***% endwith %***REMOVED***

***REMOVED***% for comment in comments %***REMOVED***
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter ***REMOVED******REMOVED*** by {{ comment.name ***REMOVED******REMOVED***
            ***REMOVED***{ comment.created ***REMOVED******REMOVED***
            </p>
        ***REMOVED***{ comment.body|linebreaks ***REMOVED******REMOVED***
        </div>
    ***REMOVED***% empty %***REMOVED***
            <p>There are no comments.</p>
***REMOVED***% endfor %***REMOVED***
***REMOVED***% include "blog/post/includes/comment_form.html" %***REMOVED***
{% endblock %***REMOVED***