{% extends "blog/base.html" %***REMOVED***

{% block title %***REMOVED***{{ post.title ***REMOVED******REMOVED***{% endblock %***REMOVED***

{% block content %***REMOVED***

    <h1>{{ post.title ***REMOVED******REMOVED***</h1>
    <p class="date">
        Published {{ post.publish ***REMOVED******REMOVED*** by {{ post.author ***REMOVED******REMOVED***
    </p>
***REMOVED***{ post.body|linebreaks ***REMOVED******REMOVED***

    <p>
        <a href='{% url "blog:post_share" post.id %***REMOVED***'>
            Share this post
        </a>
    </p>

{% endblock %***REMOVED***