{% extends "blog/base.html" %***REMOVED***

{% block title %***REMOVED***Share a post{% endblock %***REMOVED***

{% block content %***REMOVED***
***REMOVED***% if sent %***REMOVED***
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title ***REMOVED******REMOVED***" was successfully sent to {{ form.cleaned_data.to ***REMOVED******REMOVED***.
        </p>
***REMOVED***% else %***REMOVED***
        <h1>Share "{{ post.title ***REMOVED******REMOVED***" by e-mail</h1>
        <form method="post">
        ***REMOVED***{ form.as_p ***REMOVED******REMOVED***
        ***REMOVED***% csrf_token %***REMOVED***
            <input type="submit" value="Send e-mail">
        </form>
***REMOVED***% endif %***REMOVED***
{% endblock %***REMOVED***