<div class="pagination">
    <span class="step-links">
    ***REMOVED***% if page.has_previous %***REMOVED***
            <a href="?page={{ page.previous_page_number ***REMOVED******REMOVED***">Previous</a>
    ***REMOVED***% endif %***REMOVED***
        <span class="current">
            Page {{ page.number ***REMOVED******REMOVED*** of {{ page.paginator.num_pages ***REMOVED******REMOVED***.
        </span>
    ***REMOVED***% if page.has_next %***REMOVED***
            <a href="?page={{ page.next_page_number ***REMOVED******REMOVED***">Next</a>
    ***REMOVED***% endif %***REMOVED***
    </span>
</div>