{% load static %***REMOVED***
<!DOCTYPE html>

<html>

    <head>
        <title>{% block title %***REMOVED***{% endblock %***REMOVED***</title>
        <link href='{% static "css/blog.css" %***REMOVED***' rel="stylesheet">
    </head>

    <body>
        <div id="content">
        ***REMOVED***% block content %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***
        </div>

        <div id="sidebar">
            <h2>My blog</h2>
            <p>This is my blog.</p>
        </div>

    </body>

</html>