{% load blog_tags %***REMOVED***
{% load static %***REMOVED***
<!DOCTYPE html>

<html>

    <head>
        <title>{% block title %***REMOVED***{% endblock %***REMOVED***</title>
        <link href='{% static "css/blog.css" %***REMOVED***' rel="stylesheet">
    </head>

    <body>
        <div id="content">
        ***REMOVED***% block content %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***
        </div>

        <div id="sidebar">
            <h2>My blog</h2>
            <p>This is my blog.
                I have written {% total_posts %***REMOVED*** posts so far.
            </p>
            <h3>Latest posts</h3>
        ***REMOVED***% show_latest_posts 3 %***REMOVED***
            <h3>Most commented posts</h3>
        ***REMOVED***% get_most_commented_posts as most_commented_posts %***REMOVED***
            <ul>
            ***REMOVED***% for post in most_commented_posts %***REMOVED***
                <li>
                    <a href="{{ post.get_absolute_url ***REMOVED******REMOVED***">{{ post.title ***REMOVED******REMOVED***</a>
                </li>
            ***REMOVED***% endfor %***REMOVED***
            </ul>
        </div>

    </body>

</html>